<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Mind | User Profile</title>
    <style>
        li{
            list-style: none;
            margin: 10px;
        }
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0px
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>What would you like to do</h3>
    <ul>
        <li><a href="/text_upload">Language Detector</a></li>
        <li><a href="/image_upload">Image Classification</a></li>
    </ul>
    <form action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>